{% extends 'fishapp/base.html' %}

{% block content %}


    <section id="featured" class="py-5 text-center bg-light">
  <div class="container">
    <h2 class="display-4">Featured Fishs</h2>
    <p class="lead">Check out our latest and greatest Fish!</p>

  </div>
</section>


<section id="gallery" class="py-5">
  <div class="container">
    <h2 class="text-center">Fish Gallery</h2>
    <div class="row">

        {% for fish in fishs %}
            <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ MEDIA_URL }}{{ fish.image.url }}" alt="Fish 3" class="card-img-top img-fluid" style="height: 18rem">
            <div class="card-body">
                <h5 class="card-title">{{ fish.name }}</h5>
                <p class="card-text">Explore the underwater world with our amazing collection of fishes. Each fish has its own unique charm and characteristics. Dive into the beauty of FishOnline!</p>
                <a class="btn btn-primary" href={% url 'details' fish.id %}>Check out</a>
                <p class="h3 text-decoration-underline float-right" >₱{{ fish.price }}</p>
            </div>
            </div>
            </div>
        {% endfor %}
        
    </div>
  </div>
</section>
{% endblock %}